$light-green: #d5ddbc;
$light-brown: #937b63;
$med-green: #b6c197;
$dark-green: #8a9b68;
$dark-brown: #443c32;

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: $light-green;
	font-family: 'Roboto', sans-serif;
	color: $dark-brown;
}

.navbar {
	background: $med-green;
	img {
		width: 50%;
	}
	.nav-icon {
		font-size: 2rem;
	}
	.cart-btn {
		position: relative;
		cursor: pointer;
	}
	.cart-items {
		position: absolute;
		top: -8px;
		right: -8px;
		background: $dark-green;
		padding: 0 5px;
		border-radius: 30%;
		color: $light-brown;
	}
}

/* navbar loppuu */

/* tuotteet alkaa*/
section.products {
	color: $dark-brown;
	.valikko {
		padding: 0;
		margin: 0;
		button {
			background: $dark-green;
			margin: 0;
			border: 2px solid $dark-brown;
			outline: none;
			padding: 2px 20px;
			border-radius: 5px;
		}

		button:focus {
			background: $dark-brown;
			color: $light-green;
		}
	}
}
.products-center {
	width: 90vw;
	margin: 0 auto;
	max-width: 1170px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	grid-column-gap: 1.5rem;
	grid-row-gap: 2rem;
}
.products {
	margin-bottom: 1rem;
	img {
		border: 2px solid black;
		width: 30%;
		min-height: 8rem;
		cursor: pointer;
	}
	.bag-btn {
		padding: 5px 20px;
		border-radius: 10px;
		color: $dark-brown;
		background: $med-green;
	}
	.hide {
		display: none;
	}
	select {
		width: 30%;
		margin: auto;
		background: $dark-green;
		color: $dark-brown;
	}
}
/* modal */
.modal {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100vw;
	height: 100%;
	transform: translateX(+100%);
	background: $light-green;
	transition: 0.5s all;
	overflow: scroll;
	.modal-item {
		display: flex;
		flex-direction: column;
		font-size: clamp(.9rem, 3vw, 2rem);
		button {
			background: $dark-green;
			color: $dark-brown;
			width: 200px;
			margin: auto;
			padding: 5px 10px;
			border-radius: 5px;
			margin-top: 10px;
		}
		select {
			width: 30%;
			margin: auto;
			background: $dark-green;
			color: $dark-brown;
		}
		h3 {
			font-size: 2em;
		}
		h3:nth-child(1) {
			font-weight: 600;
		}
		h5 {
			font-size: 2em;
		}
		p {
			padding-left: 50px;
			padding-right: 50px;
		}
	}
	.modal-kuva {
		img {
			margin-top: 10px;
			width: 60%;
		}
	}
}

/*ostoskori */
.cart-overlay {
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	transition: 0.5s all;

	background: rgba(182, 193, 151, 0.5);
	z-index: 20;
	visibility: hidden;
}
.cart {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;
	z-index: 30;
	background: $dark-green;
	padding: 1.5rem;
	transition: 0.5s all;
	transform: translateX(-100%);
	.close-cart {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		i {
			font-size: 2rem;
		}
	}
	.banner-btn {
		background: $light-green;
		padding: 5px 10px;
		border-radius: 4px;
	}
}
.showCart {
	transform: translateX(0);
}
.transparentBcg {
	visibility: visible;
}
@media screen and (min-width: 768px) {
	.cart {
		width: 30vw;
		min-width: 450px;
	}
}

.close-cart {
	font-size: 1.7rem;
	cursor: pointer;
}
.cart h2 {
	text-transform: capitalize;
	text-align: center;
	letter-spacing: var(--mainSpacing);
	margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */
.cart-item {
	display: grid;
	align-items: center;
	grid-template-columns: auto 1fr auto;
	grid-column-gap: 1.5rem;
	margin: 1.5rem 0;
}
.cart-item img {
	width: 75px;
	height: 75px;
}
.cart-item h4 {
	font-size: 0.85rem;
	text-transform: capitalize;
}
.cart-item h5 {
	margin: 0.5rem 0;
}
.item-amount {
	text-align: center;
}
.remove-item {
	color: grey;
	cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
	color: $dark-brown;
	cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
	margin-top: 2rem;

	text-align: center;
}
.cart-footer h3 {
	text-transform: capitalize;
	margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */
footer {
	color: $dark-brown;
	background: $med-green;
	margin: 20px;
	border-radius: 10px;
	box-shadow: 0 7px 7px $dark-green;
	h5 {
		font-size: clamp(1.5rem, 5vw, 3rem);
	}
	p {
		text-align: left;
		font-size: clamp(1rem, 2.5vw, 1.5rem);
	}
}
@media screen and (min-width: 1200px) {
	.modal {
		.modal-kuva {
			img {
				align-items: center;
				width: 40%;
			}
		}
	}
}
